.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 30px;
  border: 2px solid $primary;
  margin-bottom: 20px;
  border-radius: 12px;

  @media (max-width: 768px) {
    flex-direction: column !important;
  }

  & .info {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  & .right-info {
    display: flex;
    align-items: center;
    gap: 12px;
    @media (max-width: 768px) {
      flex-direction: column !important;
    }
  }
}
